<!--
  Update the cart template with a header, and use a <div> with an *ngFor to display each of the cart items with its name and price. The resulting CartComponent template is as follows.
-->
<h3>Cart</h3>

<!--Add a link from the CartComponent view to the ShippingComponent view.-->
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<!--Use the following steps to add a checkout form at the bottom of the Cart view.

At the bottom of cart.component.html, add an HTML <form> element and a Purchase button.

Use a formGroup property binding to bind checkoutForm to the HTML <form>.-->
<form [formGroup]="checkoutForm">
  <button class="button" type="submit">Purchase</button>
</form>
